{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<script src="https://img.hcharts.cn/highcharts/themes/dark-unica.js"></script> -->

<script src='{%static "js/chart.js"%}'></script>


<div class="container chart_container">
    <div class="row">
        <div class="col-8">
          <div id="chart" class="col-8"style="width: 550px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-4">
          <form name="date_form"  >
            <p>在  </p>
            <input class="chart_date" type="month" name="user_day" id="user_day" min="2000-01" max="2017-11" value="2001-01">
            <div > <p>將<p class="left_text">10</p> 元投入市場 </p></div>  
            <input class="chart_btn" type="button" onclick="get_action()" value="check">
          </form>
        </div>
       
        
      </div>
</div>
<script>
  var p={{predict_data}};
  var h={{half_data}};
  var c={{con_data}};
  
  set_data(0,p,h,c);
</script>
{% endblock  %}


