@charset "UTF-8";
.suggestion_container{
  margin-top: 100px;;
}
.left_block {
  background-image: url("/static/img/p3_1.jpg");
  height: 250px;
  width: 100%;
  left: 3%;
  margin: 0 30px;
  padding: 0;
}

.left_title {
  font-size: 55px;
  letter-spacing: 1px;
  color: white;
  font-family: Trebuchet MS,微軟正黑體;
  
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 20%;
  font-weight: 900;
}
.left_title:hover{
    color: #FFD43A;
    cursor: pointer;
}
.left_text {
   
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #2C3641;
  font-family: Trebuchet MS,微軟正黑體;
  margin-top: 20px;
  margin-bottom:5px; 
  text-align: center;
}

.right_block {
  position: relative;
  width: 50%;
  height: 90%;
  left: 50%;
  margin: 0;
  padding: 0;
}

.state_block {
  position: relative;

}
.state_text_block{
   
    margin-top: 20px;
    border: solid #ECEEF2;
    
    background-color: #ECEEF2;
    
}

.suggestion_title {
    font-size: 30px;
    font-weight: 900;
  letter-spacing: 0px;
  color: #2C3641;
  font-family: Trebuchet MS,微軟正黑體;
  text-align: center;
  margin-bottom: 4px;
}

.sug_hr {
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
  left: 10%;
  background-color: #424242;
  border-color: #424242;
  height: 2px;
}

.suggest_block {
  text-align: center;
  
}

.state {
    font-size: 40px;
    font-weight: 800;
  letter-spacing: 1px;
  color: #FFD43A;
  font-family: Trebuchet MS,微軟正黑體,微軟正黑體;
  text-align: center;
  margin-bottom: 0%;
  margin:0; 
  padding-top:10px;
}
/* 
.text {
  font-size: 25px;
  letter-spacing: 0;
  color: #2C3641;
  font-family: Trebuchet MS,微軟正黑體,微軟正黑體;
  text-align: center;
} */

.s_block {
  margin: auto;
  border: solid #ECEEF2;
  padding: 10px;
  padding-top:20px;
  background-color: #ECEEF2;
}
.box{
  border: 3px #c9cbce;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
  height: 50%;
}
.box1 {
  border: 3px #c9cbce;
  position: absolute;
  left: 1px;
  top: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-right-style: dashed;
  border-bottom-style: dashed;
  width: 50%;
  height: 50%;
}

.box2 {
  border: 3px #c9cbce;
  position: absolute;
  left: 50%;
  top: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom-style: dashed;
  width: 50%;
  height: 50%;
}

.box3 {
  border: 3px #c9cbce;
  position: absolute;
  left: 1px;
  top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  border-right-style: dashed;
  width: 50%;
  height: 50%;
}

.box4 {
  border: 3px #c9cbce;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
  height: 50%;
}

.box_title {
  font-size: 25px;
  letter-spacing: 1px;
  color: #c9cbce;
  font-family: Trebuchet MS,微軟正黑體;
  margin-bottom: 0;
  font-weight: 600;
}

.box_num {
  font-size: 45px;
  letter-spacing: 1px;
  color: #FFD43A;
  font-family: Trebuchet MS,微軟正黑體;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding: 5px;

}
  /* 
.footer_area {
  height: 300px;
  background-color: #272D38;
}

.footer_title {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  font-family: 微軟正黑體;
}

.footer_text {
  font-size: 13px;
  letter-spacing: 0;
  color: white;
  font-family: 微軟正黑體;
  padding: 5px;
}

.footer_school {
  position: absolute;
  height: 200px;
  width: 20%;
  padding-top: 20px;
  margin: 0;
  left: 8%;
  text-align: left;
}

.footer_contact {
  position: absolute;
  height: 200px;
  width: 20%;
  padding-top: 20px;
  margin: 0;
  left: 32%;
  text-align: left;
}

.footer_department {
  position: absolute;
  height: 200px;
  width: 20%;
  padding-top: 20px;
  margin: 0;
  left: 50%;
  text-align: left;
}

.footer_language {
  position: absolute;
  height: 200px;
  width: 20%;
  padding-top: 20px;
  margin: 0;
  left: 73%;
  text-align: left;
}

.footer_hr {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 85%;
  left: 50px;
  bottom: 20%;
  size:15px;
  border:solid 1px #494F58;
  background-color: #494F58;
}

.footer_logo {
  position: absolute;
  right: 11%;
  bottom: 20px;
} */