{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href='{%static "css/suggestion.css"%}'rel="stylesheet">
<div class="container suggestion_container">
    <div class="row ">
        <div class="col-6 ">
            <div class="row">
                <div class="left_block">
                    <!-- <img class="col-12"src='{%static "img/p3_1.jpg" %}'> -->
                    <p class="left_title" id="aggressive"onclick="">積極</p>
                </div>
                
                <div class="left_block">
                    
                    <!-- <img class="col-12"src='{%static "img/p3_2.jpg" %}' alt=""> -->
                    <p class="left_title"id="conservative"onclick="">保守</p>
                </div>
            </div>
            
            
            
            <p class="left_text">請選擇您的投資偏好</p>
            <hr class="sug_hr">
        </div>
        <div class="col-6 ">
            <div class="row">
                <div class=" col-12 suggest_block">
                    <p class="suggestion_title">現今景氣階段 <p>[最後更新日期/]</p></p>
                    <hr class="sug_hr">
                    <div class="state_text_block">
                      <p class="state" id="state"><%= test %></p>
                      <p class="text"><%= i %></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="suggest_block">
                        <p class="suggestion_title">我們的建議</p>
                        <hr class="sug_hr">
                        <div class="s_block row">
                          <div class="box col-6">
                            <p class="box_title">股票型基金</p>
                            <p class="box_num" id="box1">{{num_1}}</p>
                          </div>
                          <div class="box col-6">
                            <p class="box_title">新興市場債基金</p>
                            <p class="box_num"id="box2">{{num_2}}</p>
                          </div>
                          <div class="box col-6">
                            <p class="box_title">高收益債基金</p>
                            <p class="box_num"id="box3">{{num_3}}</p>
                          </div>
                          <div class="box col-6" >
                            <p class="box_title">投資等級債基金</p>
                            <p class="box_num"id="box4">{{num_4}}</p>
                          </div>
                         
                          
                         </div>
                         
                    </div>
                </div>
                
            </div>
            
            
        </div>
    
      
    </div>
</div>
{% endblock  %}